.home {
  background-image: url('../src/sass/images/1.jpg');
}

.skills {
  background-image: url('../src/sass/images/11.jpg');
}

/* .works__card__img {
  background-image: url('../src/sass/images/pigGame.png');
} */
