.contact{

    &__input-holder{
        textarea{
            font-family: $font-4;
        }


        button{
            color: $color-dark;
            font-size: 1.2rem;
            font-family: $font-4;
            font-weight: 600;
        }
    }
}