.dashboard {
  &__logo {
    font-size: 2rem;
    font-family: $font-12;
    text-transform: uppercase;
    font-weight: 800;
    color: $color-primary;
  }

  &__item {
    color: $color-white-grey;
    font-size: 1.3rem;
    font-family: $font-4;
  }

  &__icon {
    &--arow {
      color: $color-primary;
    }
  }
}
