.header {
  &__logo {
    font-size: 2.2rem;
    font-family: $font-12;
    text-transform: uppercase;
    font-weight: 800;
    color: $color-primary;

    @include respond(980) {
      color: $color-primary;
    }
  }

  &__item {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $font-4;
  }

  &__link {
    text-decoration: none;
    color: $color-dark;

    &--right {
      color: $color-primary;
    }
  }
}

.drop__menu {
  &__item {
    font-size: 5rem;

    @include respond(768) {
      font-size: 3rem;
    }

    @include respond(480) {
      font-size: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-family: $font-4;
  }
}
