.login {
  &__content {
  }

  &__h1 {
    font-size: 2.6rem;
    font-family: $font-4;
    font-weight: 700;
    color: $color-dark;
  }

  &__form {
  }

  &__input-holder {
    &:first-child {
      padding-bottom: 3rem;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-family: $font-4;
    color: $color-grey;
  }

  &__input {
    font-size: 1.4rem;
  }

  &__button {
    font-size: 1.5rem;
    font-family: $font-4;
    font-weight: 600;
  }

  &__button-register {
    font-size: 1.4rem;
    font-family: $font-4;
    font-weight: 700;
    color: $color-dark;
    text-decoration: none;
    text-align: center;
  }
}
