.skills {
  &__description {
    &__p {
      font-size: 1.3rem;
      font-family: $font-5;
      text-align: center;
    }
  }

  &__h5 {
    font-size: 1.8rem;
    font-family: $font-4;
    letter-spacing: 0.1rem;
  }
}
