.works {
  &__card {
    &__h4 {
      text-align: center;
      font-size: 3rem;
      font-family: $font-4;
      color: $color-dark;

      @include respond(980) {
        font-size: 5rem;
      }

      @include respond(480) {
        font-size: 5rem;
      }
    }

    &__p {
      text-align: justify;
      font-size: 1.3rem;
      color: $color-grey;
      font-family: $font-4;

      @include respond(980) {
        font-size: 2.5rem;
      }

      @include respond(768) {
        font-size: 2.4rem;
      }

      @include respond(480) {
        font-size: 2.2rem;
        line-height: 2.8rem;
      }

      @include respond(480) {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }
  }

  &__discover {
    text-align: center;

    &--link {
      color: $color-dark;
      font-family: $font-4;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
