.about {
  user-select: none;
  position: relative;
  &__h2 {
    @include h2;
  }

  @include line;

  &__icon {
    // position: absolute;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9rem;
  }

  &__box {
    display: flex;
    width: 33.33%;
    padding: 2rem;
    outline: 1px solid red;

    @include respond(768) {
      width: 49%;

      &:nth-of-type(1n + 3) {
        padding-top: 9rem;
      }
    }

    @include respond(480) {
      width: 98%;
      &:nth-of-type(1n + 2) {
        padding-top: 6rem;
      }
    }

    &--container {
      // padding-left: 7.5rem;
      padding-left: 2rem;

      @include respond(1200) {
        padding-left: 2rem;
      }
    }

    &__p {
      padding-top: 1rem;

      //   @include respond(480) {
      //     padding-top: 4.5rem;
      //   }
    }
  }
}
