.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: grey;

  &__header {
    display: flex;
    background: red;
    height: 63px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-dark-blue;
    max-width: 22rem;
    width: 100%;
  }
  &__header-nav {
    display: flex;
    align-items: center;
    background: $color-white;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    // box-shadow: 0px 1px 2rem rgba(#d2d2d2, 0.15);
  }
  &__content {
    display: flex;
    height: 100%;
  }
  &__nav {
    max-width: 22rem;
    width: 100%;
    background: lighten($color-dark-blue, 1%);
  }
  &__content-side {
    width: 100%;
    background: $color-white-blue;
  }
}
