.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  &__black-mask {
    position: absolute;
    width: 61.5%;
    height: 100%;
    background: $black-color;
    left: 0;
    opacity: 0.7;
    z-index: 1;
  }
  &__blue-mask {
    position: absolute;
    width: 38.5%;
    height: 100%;
    background: $primary-color;
    right: 0;
    opacity: 0.8;
    z-index: 1;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    z-index: 2;
  }

  &__logo {
  }

  &__nav {
  }

  &__list {
    display: flex;
  }

  &__item {
    transition: all 0.5s;
    &:hover {
      background: darken($primary-color, 6%);
      color: white;
    }

    &:hover:nth-of-type(1n + 5) {
      background: lighten($black-color, 10%) !important;
      color: white !important;
    }

    // &--background:hover {

    // }
  }

  &__link {
    display: block;
    padding: 1.3rem 1.4rem;
  }

  &__message {
    position: relative;
    margin-top: 25rem;
    margin-left: 18rem;
    align-self: center;
    border-left: solid 1rem $primary-color;
    padding-left: 1.5rem;
    line-height: 0.65;
    z-index: 2;
    word-spacing: 2rem;
    &--span {
    }
    &--h1 {
      padding-top: 3rem;
    }
  }
}
