.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__content {
    width: 70%;
  }

  &__h1 {
    padding-bottom: 10rem;
  }

  &__input-holder {
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-bottom: 3rem;
    }
  }

  &__input {
    border: none;
    border-bottom: 2px solid $color-primary;
    padding: 1rem 0 3px 0;
    transition: all 0.5s;

    &:focus {
      padding: 2rem 0 3px 0;
      outline: none;
    }
  }

  &__button-holder {
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    border: none;
    background: $color-primary;
    width: 15rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: darken($color-primary, 20%);
      color: lighten($color-primary, 90%);
    }
  }

  &__button-register {
    display: block;
    transition: all, 0.5s;
    padding: 1rem;
    width: 15rem;
    border: 1px solid $color-dark;

    &:hover {
      background: darken(white, 20%);
      border: none;
    }
  }
}
