.services {
  display: flex;
  height: 70rem;
  margin-top: 9rem;
  background: $color-primary;

  -webkit-clip-path: polygon(
    49% 0,
    100% 10%,
    100% 89%,
    60.5% 100%,
    0 91%,
    0 6%,
    39% 0
  );
  clip-path: polygon(49% 0, 100% 10%, 100% 89%, 60.5% 100%, 0 91%, 0 6%, 39% 0);

  @include respond(1200) {
    -webkit-clip-path: polygon(
      100% 10%,
      100% 89%,
      67% 100%,
      0 91%,
      0 6%,
      32% 0
    );
    clip-path: polygon(100% 10%, 100% 89%, 67% 100%, 0 91%, 0 6%, 32% 0);

    height: 75rem;
  }

  @include respond(992) {
    height: 90rem;
  }

  @include respond(768) {
    height: 100rem;
  }

  @include respond(480) {
    -webkit-clip-path: polygon(100% 3%, 100% 98%, 67% 100%, 0 96%, 0 1%, 12% 0);
    clip-path: polygon(100% 3%, 100% 98%, 67% 100%, 0 96%, 0 1%, 12% 0);
    height: 85rem;
  }

  &__left-box {
    display: flex;
    justify-content: flex-end;
    flex: 1.4;
  }

  &__h2 {
    @include h2;
  }

  @include line-2;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    padding-left: 2rem;
  }

  &__box {
    display: flex;
    margin-top: 5.5rem;
    max-width: 27rem;
    width: 100%;

    &__container {
      padding-left: 2rem;
      padding-top: 1rem;
    }
  }

  &__right-box {
    outline: 2px solid green;
    flex: 1;
  }

  &__decoration-div {
    height: 100%;
    max-width: 33rem;
    width: 100%;
    background: $color-dark;
  }
}
