.skills {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  height: 80rem;

  @include respond(1200) {
    height: 110rem;

    -webkit-clip-path: polygon(
      100% 10%,
      100% 89%,
      67% 100%,
      0 91%,
      0 6%,
      32% 0
    );
    clip-path: polygon(100% 10%, 100% 89%, 67% 100%, 0 91%, 0 6%, 32% 0);
  }

  @include respond(980) {
    height: 110rem;

    -webkit-clip-path: polygon(
      100% 10%,
      100% 89%,
      67% 100%,
      0 91%,
      0 6%,
      32% 0
    );
    clip-path: polygon(100% 6%, 100% 95%, 67% 100%, 0 95%, 0 3%, 42% 0);
    height: 103rem;
  }

  @include respond(768) {
    height: 400rem;
    -webkit-clip-path: polygon(30% 0, 100% 1%, 100% 99%, 69% 100%, 0 99%, 0 1%);
    clip-path: polygon(30% 0, 100% 1%, 100% 99.5%, 69% 100%, 0 99%, 0 1%);
  }

  &__mask {
    position: absolute;
    background: $color-dark;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  -webkit-clip-path: polygon(
    49% 0,
    100% 10%,
    100% 89%,
    60.5% 100%,
    0 91%,
    0 6%,
    39% 0
  );
  clip-path: polygon(49% 0, 100% 10%, 100% 93%, 60.5% 100%, 0 94%, 0 6%, 39% 0);

  @include line;

  &__h2 {
    color: white !important;
    @include h2;
  }

  &__p {
    color: rgba(255, 255, 255, 0.8) !important;
    @include global-p;

    @include respond(768) {
      padding-bottom: 5rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @include respond(768) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26%;
    color: white;
    // outline: 1px solid yellow;

    // @include respond(1200) {
    //   width: 33.33%;
    // }

    @include respond(768) {
      width: 100%;

      &:not(:nth-of-type(1)) {
        margin-top: 55rem;
      }
    }
  }

  &__progress {
    border: 6rem solid rgba(33, 33, 33, 0.7);
    border-radius: 50%;
    width: 24rem;
    height: 24rem;

    // @include respond(1200) {
    //   border: 10rem solid rgba(33, 33, 33, 0.7);
    //   width: 38rem;
    //   height: 38rem;
    // }

    // @include respond(980) {
    //   border: 10rem solid rgba(33, 33, 33, 0.7);
    //   width: 34rem;
    //   height: 34rem;
    //   // outline: 1px solid red;
    // }

    @include respond(768) {
      border: 19rem solid rgba(33, 33, 33, 0.7);
      width: 64rem;
      height: 64rem;
    }
  }

  &__canvas {
    position: absolute;
    z-index: 100;
    width: 25.5rem;
    height: 25.5rem;

    // @include respond(1200) {
    //   width: 40.5rem;
    //   height: 40.5rem;
    // }

    // @include respond(980) {
    //   width: 36.5rem;
    //   height: 36.5rem;
    // }

    @include respond(768) {
      width: 68.5rem;
      height: 68.5rem;
    }
  }

  &__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: rgba($color-dark, 0.7);
    margin-top: 18rem;

    &__p {
      width: 17rem;

      // @include respond(1200) {
      //   width: 25rem;
      // }
    }

    // @include respond(1200) {
    //   width: 38rem;
    //   height: 38rem;
    //   margin-top: 28rem;
    // }

    // @include respond(980) {
    //   width: 34rem;
    //   height: 34rem;
    //   margin-top: 24rem;
    // }

    @include respond(768) {
      width: 64rem;
      height: 64rem;
      margin-top: 45rem;
    }
  }

  &__h5 {
    margin-top: 4rem;

    // @include respond(1200) {
    //   margin-top: 7rem;
    // }

    // @include respond(980) {
    //   margin-top: 8rem;
    // }
  }

  &__line {
    border-top: 1.8px solid $color-primary;
    width: 2rem;
    margin: 1.4rem 0;

    // @include respond(1200) {
    //   width: 2.5rem;
    //   margin: 1.7rem 0;
    // }
  }
}
