.works {
  &__h2 {
    @include h2;
  }

  @include line;

  &__p {
    @include global-p;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    padding-top: 9rem;

    @include respond(480) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__card {
    position: relative;
    width: 30%;
    height: 43rem;
    // height: 516px;

    @include respond(480) {
      width: 100%;
      height: 70rem;

      &:not(:first-child) {
        margin-top: 10rem;
      }
    }

    @include card;

    &__img {
      position: relative;
      width: 100%;

      -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    }

    &--img {
      display: block;
      width: 100%;
      z-index: 2;
    }

    &--mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-dark;
      background: $color-primary;
      opacity: 0.3;
    }

    &__h4 {
      margin-top: 2.4rem;
    }

    &__p {
      padding: 3.8rem 2rem;
    }
  }

  &__discover {
    margin-top: 10rem;
    padding-bottom: 10rem;

    @include respond(480) {
      margin-top: 7rem;
    }

    &--link {
      display: inline-block;
      padding: 1.2rem;
      background: $color-primary;
      border-radius: 14px;
      transition: all 0.5s;

      &:hover {
        background: darken($color-primary, 20%);
        color: lighten($color-dark, 90%);
      }
    }
  }
}
