.works {
  padding-bottom: 200px;
  &__h2 {
    @include h2;
  }

  @include line;

  &__p {
    @include global-p;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    padding-top: 9rem;

    // padding-left: 2rem;
  }

  &__card {
    position: relative;
    width: 32%;
    height: 43rem;

    @include card;

    &__img {
      position: relative;
      width: 100%;
    }

    &--img {
      display: block;
      width: 100%;
      z-index: 2;
    }

    &--mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-primary;
      opacity: 0.5;
    }
  }
}
