*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px (inace je 16px. 10 smo dobili tako sto smo 10px / 16px * 100 = 62.5%)

  @include respond(tab-land) {
    // width <1200
    font-size: 56.25%; // 1 rem = 9 / 16 * 100 = 56.25%
  }

  @include respond(tab-port) {
    // width <900
    font-size: 50%; // 1 rem = 8 / 16 * 100 = 50%
  }

  // @include respond(phone) {
  //   font-size: 50%;
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12 / 16 * 100 = 74%
  }
}

body {
  box-sizing: border-box;
}
