.display--none {
  visibility: hidden;
}

.border--none {
  border: none !important;

  @include respond(980) {
    padding-top: 1rem !important;
  }
}

.color--dark {
  color: $color-dark !important;
}

.active {
  background: $color-primary;
  color: white;
}

.validation__error{
  position: absolute;
  margin-top: 63px;
  color: red;
  font-family: $font-4;
}
