// mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($rotation) {
  -webkit-transform: rotate($rotation);
  -moz-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
  -o-transform: rotate($rotation);
  transform: rotate($rotation);
}

@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin transition-property($transition) {
  -webkit-transition-property: $transition;
  -moz-transition-property: $transition;
  -o-transition-property: $transition;
  transition-property: $transition;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-timing-function($timing) {
  -webkit-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  transition-timing-function: $timing;
}

// media query manager

/*
0 - 600px:        Phone
600 - 900px:      Tablet and Portrait
900 - 1200px:     Tablet landscape
1200 - 1800px:    Is where normal styles apply
1800 +      :     Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == 320 {
    @media (max-width: 20em) {
      // 320px  (320 / 16px)  16px je default vrednost em-a
      @content;
    }
  }

  @if $breakpoint == 380 {
    @media (max-width: 23.75em) {
      // 320px  (320 / 16px)  16px je default vrednost em-a
      @content;
    }
  }

  @if $breakpoint == 420 {
    @media (max-width: 26.25em) {
      // 420px  (420 / 16px)  16px je default vrednost em-a
      @content;
    }
  }

  @if $breakpoint == 480 {
    @media (max-width: 30em) {
      // 480px  (480 / 16px)  16px je default vrednost em-a
      @content;
    }
  }

  @if $breakpoint == 768 {
    @media (max-width: 48em) {
      // 768px
      @content;
    }
  }

  @if $breakpoint == 980 {
    @media (max-width: 62em) {
      // 980px
      @content;
    }
  }

  @if $breakpoint == 1200 {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}

// menu button
@mixin btn {
  #nav-toggle {
    cursor: pointer;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

//global h2 style
@mixin h2 {
  padding-top: 9rem;

  font-size: 4.5rem;
  font-family: $font-5; //5 je dobar
  text-align: center;
  text-transform: uppercase;
  color: $color-dark;
}

// Line
@mixin line {
  .line {
    width: 20rem;
    margin: 4rem auto;
    &__thin {
      border-bottom: 2px solid $color-primary;
      width: 100%;
    }

    &__fat {
      border-bottom: 6px solid $color-primary;
      width: 27%;
      margin: 0 auto;
    }
  }
}

// Line
@mixin line-2 {
  .line {
    width: 20rem;
    margin-top: 2rem;
    &__thin {
      border-bottom: 2px solid white;
      width: 70%;
    }

    &__fat {
      border-bottom: 5px solid white;
      width: 20%;
    }
  }
}

// global p
@mixin global-p {
  margin: 0 auto;
  width: 80%;
  // width: 80rem;

  color: $color-grey;
  font-size: 1.2rem;
  font-family: $font-4;
  text-align: center;
  font-weight: 400;
}

// card flip
@mixin card {
  &__front,
  &__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.15);
    border-radius: 1rem;
    cursor: pointer;
  }

  &__front {
    background: white;
    transform: perspective(600px) rotateY(0deg);
  }

  &__back {
    background: $color-primary;
    transform: perspective(600px) rotateY(180deg);
  }

  &:hover > &__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  &:hover > &__back {
    transform: perspective(600px) rotateY(0deg);
  }
}
