// font family
$primary-font: 'Open Sans', Arial, Helvetica, sans-serif;

$font-1: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-2: 'Droid Serif', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-3: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-4: Lato, sans-serif;

$font-5: Dosis, sans-serif;

$font-6: 'Baloo Bhai', cursive;

$font-7: 'Indie Flower', cursive;

$font-8: 'Pacifico', cursive; // ovaj je dobar

$font-9: 'Luckiest Guy', cursive;

$font-10: 'Sacramento', cursive;

$font-11: 'Rock Salt', cursive;

$font-12: 'Cinzel Decorative', cursive;

$font-13: 'Yesteryear', cursive; // ovo je isto dobro

$font-14: 'Major Mono Display', monospace;

$font-15: 'Waiting for the Sunrise', cursive; // ovaj je dobar

// color

$color-primary: #29b6f6;
$color-dark: #212121;
