// font family
$primary-font: "Open Sans", Arial, Helvetica, sans-serif;

$font-1: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-2: "Droid Serif", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-3: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

$font-4: Lato, sans-serif;
$font-5: Dosis, sans-serif;

// color

$primary-color: #29b6f6;
$black-color: #212121;
